.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem; }
  .showcase__title {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2em; }
  .showcase__cards {
    margin-top: 2rem; }
    .showcase__cards > * {
      margin: 2rem; }
      @media screen and (min-width: 550px) {
        .showcase__cards > * {
          width: 25rem; } }
