:root {
  --font-raleway: 'Raleway', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
  --font-philosopher: 'Philosopher', sans-serif;
  --font-primary: var(--font-raleway);
  --font-secondary: var(--font-oswald);
  --font-tertiary: var(--font-philosopher);
  --color-blue: #7c83ff;
  --color-orange: #f097a5;
  --color-invision: #f42156;
  --color-iphone: #007aff;
  --color-maroon: #101;
  --color-lalala: #1a1a1a;
  --color-looted: #10073d;
  --color-white: #fff;
  --color-black: #000;
  --color-light-1: #fcfcfc;
  --color-light-2: #fafafa;
  --color-light-3: #f9f9f9;
  --color-light-4: #f7f7f7;
  --color-light-5: #f5f5f5;
  --color-light-6: #f3f3f3;
  --color-light-7: #f1f1f1;
  --color-light-8: #eee;
  --color-light-9: #ddd;
  --color-dark-1: #111;
  --color-dark-2: #222;
  --color-dark-3: #333;
  --color-dark-4: #666;
  --color-dark-5: #777;
  --color-dark-6: #999;
  --color-primary: var(--color-iphone);
  --color-secondary: var(--color-invision);
  --bg-body: var(--color-white);
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-light-3);
  --bg-tertiary: var(--color-light-5);
  --bg-bar: var(--color-light-4);
  --color-text-black: var(--color-black);
  --color-text-dark-1: #333;
  --color-text-dark-2: #666;
  --color-text-white: var(--color-white);
  --color-text-light-1: #ddd;
  --color-text-light-2: #ccc;
  --color-text-primary: var(--color-text-black);
  --color-text-secondary: var(--color-text-dark-2);
  --color-text-tertiary: var(--color-text-dark-1);
  --shadow-light-1: 0px 4px 17px rgba(0, 0, 0, 0.05);
  --shadow-light-2: 50px 50px 5px 0 rgba(0, 0, 0, 0.2);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 1rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-light-small: 0 0.5rem 2rem rgba(0, 0, 0, 0.06);
  --shadow-light-2: 0 2rem 7rem rgba(0, 0, 0, 0.06);
  --shadow-light-hover: 0 1rem 6rem rgba(0, 0, 0, 0.1); }
